{% extends "layout.html" %}


{% block heading %}
    {{ message }}
{% endblock %}



{% block body %}
    <div class="container mt-5">
        <table class="table w-50 ml-auto mr-auto">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>

                <th scope="col">Title</th>

            </tr>
            </thead>


            <tbody>
            {% for book in books %}
                <tr>

                    <th scope="row">{{ loop.index }} </th>

                    <td><a href="{{ url_for('book_details',book_id=book.id) }}">{{ book.title }}</a></td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}