{% extends "layout.html" %}


{% block heading %}
    {{ message }}
{% endblock %}

{% block body %}
    <div class="container mt-5 text-center">
        <table class="table table-bordered text-center w-75 ml-auto mr-auto table-books">

            <thead class="thead-dark">
            <tr>
                <td colspan="3">
                    <img src="http://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg"/>
                </td>
                <td colspan="5" class=" mx-0 px-0 py-0">
                    <h3 class="bg-dark text-white mx-0 my-0 px-0 py-2">User Reviews</h3>
                    <ol class="text-left my-2 list-group">
                        {% for review in reviews %}
                            <li class="list-group-item">{{ review.text_review }}</li>
                        {% endfor %}
                    </ol>

                </td>

            </tr>
            </thead>


            <thead class="thead-dark ">


            <tr>
                <th scope="col">ISBN</th>

                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Released Year</th>
                <th scope="col">Average Rating from (Good Reads)</th>
                <th scope="col">Number of Ratings from (Good Reads)</th>

            </tr>

            </thead>
            <tbody>


            <tr>
                <td>{{ book.isbn }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.released_year }}</td>
                <td>{{ apireview['average_rating'] }}</td>
                <td>{{ apireview['work_ratings_count']}}</td>



            </tr>

            </tbody>
        </table>

    </div>

    <hr>
    <div class="container ">

        <form class="w-50 ml-auto mr-auto" action="{{ url_for('review') }}" method="post">
            <div class="form-group">

                <label for="inputReview">Choose Rating</label>
                <select name="input" id="" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>


            </div>

            <div class="form-group">
                <label for="textarea">Additional Comments:</label>

                <textarea name="textReview" id="" cols="30" rows="10" class="form-control"
                          placeholder="Write your Book review"></textarea>
            </div>
            <button class="btn btn-md btn-success" type="submit">Submit review</button>
        </form>


    </div>
{% endblock %}